@font-face {
    font-family: 'Babang Tamfan';
    src: url('assets/fonts/BabangTamfan/BabangTamfanRegular.woff2') format('woff2'),
        url('assets/fonts/BabangTamfan/BabangTamfanRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}